@model NursingStaffPlanningandSchedulingExcellence.Models.ShiftScheduleVM
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sno = 0;
}
<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }

        td dd {
            text-align: left;
        }

    dt {
        padding-right: 10px;
        text-align: right;
        margin-bottom: 8.5px;
    }

    .other-month {
        color: #ccc;
    }

    .overflow-x-scroll {
        overflow-x: scroll;
    }

    .table-schedule {
        width: 80%;
        margin: 3.5rem auto;
    }

        .table-schedule td, .table-schedule th {
            border: none;
        }

    .day-schedule {
        width: 50%;
        margin: 1.5rem auto;
    }

        .day-schedule td, .day-schedule th {
            border: none;
        }

            .day-schedule td.available-time {
                background: #eee;
            }

            .day-schedule td.work-time {
                background: #4cff00;
            }

            .day-schedule td.unavailable-time {
                background: #808080;
            }

        .day-schedule

        .borderless {
            border: none;
        }

    .month-control {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 1rem;
    }

    .month-h2 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row m-t-20">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success" style="float: right;" role="alert">
                    <b>@TempData["Message"]</b>
                </div>
            }
            @if (TempData["DeleteMessage"] != null)
            {
                <div class="alert alert-danger" style="float: right;" role="alert">
                    <b>@TempData["DeleteMessage"]</b>
                </div>
            }
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="panel-info">
                            <div class="panel-heading">
                                Schedule List
                            </div>
                            <div class="table-responsive" style="max-height: 50vh; overflow-y:scroll">
                                <table id="example" class="table  table-hover contact-list footable-loaded footable m-t-0" data-page-size="4">
                                    <thead>
                                        <tr class="text-dark">
                                            <th class="footable-sortable text-center" scope="col">S.No<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-sortable text-center" scope="col">Start Date<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-sortable text-center" scope="col">End Date<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-sortable text-center" scope="col">Start time<span class="footable-sort-indicator"></span></th>
                                            <th class="footable-sortable text-center" scope="col">End time<span class="footable-sort-indicator"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var nowDay = ViewBag.chosenDate != null ? ViewBag.chosenDate : DateTime.Now.Date;
                                        }
                                        @if (Model.ShiftScheduleList != null)
                                        {
                                            {
                                                foreach (var item in Model.WholeCalendarShifts)
                                                {
                                                    if (item.StartDate.Value.Date >= nowDay || item.EndDate.Value.Date == nowDay)
                                                    {
                                                        sno = sno + 1;
                                                        <tr role="row" class="line-content">
                                                            <td>@sno</td>
                                                            <td>@(item.StartDate != null ? string.Format("{0:MMMM d , yyyy}", item.StartDate) : "")</td>
                                                            <td>@(item.EndDate != null ? string.Format("{0:MMMM d , yyyy}", item.EndDate) : "")</td>
                                                            <td>@(item.StartDate.Value.ToString("hh:mm tt"))</td>
                                                            <td>@(item.EndDate.Value.ToString("hh:mm tt"))</td>
                                                        </tr>
                                                    }

                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="panel panel-info">
                            <div class="panel-heading "> My Calendar</div>
                            <div class="white-box">
                                @{
                                    var now = ViewBag.chosenMonth != null ? ViewBag.chosenMonth : DateTime.Now.Date;
                                    var daysInMonth = DateTime.DaysInMonth(now.Year, now.Month);
                                    var firstDayOfMonth = new DateTime(now.Year, now.Month, 1);
                                    var lastDayOfMonth = new DateTime(now.Year, now.Month, daysInMonth);
                                    var previousMonth = firstDayOfMonth.AddMonths(-1);
                                    var nextMonth = firstDayOfMonth.AddMonths(1);
                                    var daysOfWeek = new[] { "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
                                }

                                <div class="month-control">
                                    <h2 class="month-h2">@now.ToString("MMMM yyyy")</h2>
                                    <a href="@Url.Action("ShiftSchedule", new { year = now.Year, month = now.Month, day = now.Day, chosenYear = previousMonth.Year, chosenMonth = previousMonth.Month })">&lt; Previous Month</a> --|--
                                    <a href="@Url.Action("ShiftSchedule", new { year = now.Year, month = now.Month, day = now.Day, chosenYear = nextMonth.Year, chosenMonth = nextMonth.Month })">Next Month &gt;</a>
                                </div>

                                <table class="table-schedule">
                                    <thead>
                                        <tr>
                                            @foreach (var dayOfWeek in daysOfWeek)
                                            {
                                                <th>@dayOfWeek</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int day = 1; day <= daysInMonth; day++)
                                        {
                                            var date = new DateTime(now.Year, now.Month, day);
                                            if (date.DayOfWeek == DayOfWeek.Sunday)
                                            {
                                                @:<tr>
                                                }
                                                if (day == 1)
                                                {

                                                    for (int gap = 0; gap < (int)date.DayOfWeek; gap++)
                                                    {
                                                        @:<td class="borderless"></td>
                                                    }
                                                }
                                                <td>
                                                    @if (date >= firstDayOfMonth && date <= lastDayOfMonth)
                                                    {
                                                        var hasShift = Model.WholeCalendarShifts.Find(x => x.StartDate.Value.Date == date || x.EndDate.Value.Date == date);
                                                        if (hasShift != null)
                                {<span><a href="@Url.Action("ShiftSchedule", new { year = now.Year, month = now.Month, day = day, chosenYear = now.Year , chosenMonth = now.Month})">@day</a></span>}

                                                        else
                                                        {
                                                            <span class="other-month">@day</span>
                                                        }
                                                    }

                                                </td>
                                                if (date.DayOfWeek == DayOfWeek.Saturday)
                                                {
                                                @:</tr>
                                            }

                                            if (lastDayOfMonth.DayOfWeek == DayOfWeek.Saturday)
                                            {
                                                @:</tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">Schedule</div>
                <div class="white-box overflow-x-scroll">
                    @{
                        var schedule = ViewBag.chosenDate != null ? ViewBag.chosenDate : now;
                    }
                    <div class="month-control">
                        <h2 class="month-h2">@schedule.ToString("yyyy, MMMM d")</h2>
                    </div>
                    <table class="day-schedule">
                        <tbody>
                            <tr>
                                <th>Time</th>
                                @for (int hour = 0; hour <= 23; hour++)
                                {
                                    for (int minute = 0; minute <= 45; minute += 30)
                                    {
                                        var time = new DateTime(schedule.Year, schedule.Month, schedule.Day, hour, minute, 0);
                                        <td>@time.ToString("h:mm tt")</td>
                                    }
                                }
                            </tr>
                            <tr style="height: 4rem">
                                <th></th>
                                @for (int hour = 0; hour <= 23; hour++)
                                {
                                    for (int minute = 0; minute <= 45; minute += 30)
                                    {
                                        var time = new DateTime(schedule.Year, schedule.Month, schedule.Day, hour, minute, 0);

                                        var isBooked = Model.ShiftScheduleList.FirstOrDefault(x => x.StartDate <= time && time <= x.EndDate);

                                        if (isBooked != null)
                                        {
                                            @:<td class="work-time"></td>
                                        }
                                        else
                                        {
                                            @:<td class="unavailable-time"></td>
                                        }
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({ "pageLength": 10 });
    });
</script>